*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
img{
    pointer-events: none;
}
  
.navbar-brand{
    color:#61DAFB !important;
}
  
.nav-link{
    color: #B4B4B4 !important;
    margin-right: 22px;
}

.nav-link:nth-child(3){
    color: white !important;
}
  
.nav-link:nth-child(1){
    margin-left: 44px;
}
  
.nav-link:hover{
    color: white !important;
}
  
.navbar-toggler{
    border: none;
}
  
.navbar-toggler {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}
    
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
#menuDiv{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
}
    
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
    
.change .bar2 {opacity: 0;}
    
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
  
.bg1{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 750px;
    background-color: #212529;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    overflow: visible;
}
  
.mainTitle{
    color: #61DAFB;
    font-weight: 600;
}

.mainSemiTitle{
    margin-bottom: 240px;
}

.card{
    margin-bottom: 30px;
    opacity: 0;
}

.badge{
    float: right;
    font-weight:400;
}

.card:hover{
    box-shadow: 8px 10px 13px -13px rgba(0,0,0,0.75);
}

.cardAnimetion1{
    animation: slide-up .5s ease-in-out;
    animation-fill-mode: forwards;
}

.cardAnimetion2{
    animation: slide-up .4s ease-in-out;
    animation-delay: .1s;
    animation-fill-mode: forwards;
}

.cardAnimetion3{
    animation: slide-up .3s ease-in-out;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}
  
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 576px) { 
    .bg1{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        height: 650px;
    }
}
  
  
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .bg1{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        height: 650px;
    }
}
  
  // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .mainSemiTitle{
        margin-bottom: 290px;
    }
    .bg1{
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
  
  // Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .mainSemiTitle{
        margin-bottom: 260px;
    }
    .bg1{
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
}
  
@media (min-width: 1199.98px) { 
    .bg1{
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }
}