* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  pointer-events: none;
}

.navbar-brand {
  color: #61DAFB !important;
}

.nav-link {
  color: #B4B4B4 !important;
  margin-right: 22px;
}

.nav-link:nth-child(3) {
  color: white !important;
}

.nav-link:nth-child(1) {
  margin-left: 44px;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#menuDiv {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.bg1 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 750px;
  background-color: #212529;
  -webkit-box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
  overflow: visible;
}

.mainTitle {
  color: #61DAFB;
  font-weight: 600;
}

.card {
  margin-bottom: 30px;
  opacity: 0;
}

.card:hover {
  -webkit-box-shadow: 8px 10px 13px -13px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 10px 13px -13px rgba(0, 0, 0, 0.75);
}

.cardAnimetion1 {
  -webkit-animation: slide-up .5s ease-in-out;
          animation: slide-up .5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cardAnimetion2 {
  -webkit-animation: slide-up .4s ease-in-out;
          animation: slide-up .4s ease-in-out;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.cardAnimetion3 {
  -webkit-animation: slide-up .3s ease-in-out;
          animation: slide-up .3s ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .bg1 {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    height: 650px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg1 {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    height: 650px;
  }
}
/*# sourceMappingURL=progetti.css.map */